<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />
  <title>{% block title %}MarketZone{% endblock %}</title>
</head>

<body class="overflow-x-hidden">
  {% block navbar %}
  {% include 'navbar.html' %}
  {% endblock %}

  {% if request.session.get("_messages") %}
  <div id="flash-messages" class="absolute z-10 top-2 space-y-2 p-4 w-full flex justify-center">
      <!-- Flash message -->
      {% for message in request.session.get("_messages") %}
        <div role="alert"
          class="w-fit bg-{{ message.category }}-100 dark:bg-{{ message.category }}-900 border-l-4 border-{{ message.category }}-500 dark:border-{{ message.category }}-700 text-{{ message.category }}-900 dark:text-{{ message.category }}-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-{{ message.category }}-200 dark:hover:bg-{{ message.category }}-800 transform hover:scale-105">
          <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
            class="h-5 w-5 flex-shrink-0 mr-2 text-{{ message.category }}-600" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2" stroke-linejoin="round"
              stroke-linecap="round"></path>
          </svg>
          <p class="text-base font-semibold">{{ message.message }}</p>
          <!-- Botão ou link para fechar a mensagem, se desejado -->
          <!-- Exemplo de botão de fechar, adaptar conforme necessário -->
          <button type="button" onclick="this.parentNode.remove()" class="ml-auto focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 hover:text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
      </div>
      {% endfor %}
      {% set _ = request.session.clear() %} <!-- Limpa as mensagens após exibi-las -->
    {% endif %}

  {% block body %}
  {% endblock %}

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock %}

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <script src="https://unpkg.com/vanilla-masker/build/vanilla-masker.min.js"></script>
  <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>

</html>